.home-wrapper .signup-container {

     border: 10px solid #e10000;
    width: 100%;
    min-width: 1024px;
    text-align: center;
    height: 300px;
    top: 20.4231%;
    position: fixed;
    font-size: 30px
}

@media screen and (max-width: 1920px) {
    .home-wrapper .signup-container {
        font-size: 29px;
        top: 16.4231%
    }
}

@media screen and (max-width: 1680px) {
    .home-wrapper .signup-container {
        font-size: 28px;
        top: 20.4231%
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .signup-container {
        font-size: 26px;
        top: 20.4231%
    }
}

@media screen and (max-width: 1366px) {
    .home-wrapper .signup-container {
        font-size: 24px;
        top: 20.4231%
    }
}

@media screen and (max-width: 1280px) {
    .home-wrapper .signup-container {
        font-size: 22px;
        top: 20.4231%
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .signup-container {
        font-size: 18px;
        top: 19.4231%
    }
}

.home-wrapper .signup-container .signup-wrapper {
    border: 1px solid #46a3fb;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 0 40px
}

@media screen and (max-width: 1920px) {
    .home-wrapper .signup-container .signup-wrapper {
        padding: 0 63px
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .signup-container .signup-wrapper {
        padding: 0 50px
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .signup-container .signup-wrapper {
        border: 1px solid #46a3fb;
        padding: 0 40px
    }
}

.home-wrapper .signup-container .signup-content {
    border: 5px solid #706900;
    height: 100%;
    float: right;
    width: 10.1em
}

.home-wrapper .signup-container .signup-title-new.font-color-orange .color-change {
    color: #000
}

.home-wrapper .signup-container .input-error .box-border input {
    border: 1px solid #f60
}

.home-wrapper .signup-container .input-error .box-border input:focus + .message {
    opacity: .95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    top: -38px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    transition: all .4s
}

.home-wrapper .signup-container .message {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    line-height: 35px;
    background-color: #666;
    color: #fff;
    padding: 0 20px;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    white-space: nowrap
}

.home-wrapper .signup-container .message:after {
    content: " ";
    display: block;
    border-bottom: none;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #666;
    position: absolute;
    top: 33px;
    left: 50%;
    margin-left: -10px;
    color: #555;
    font-size: 2.1em;
    line-height: 1.3em
}

.home-wrapper .signup-container .signup-title-new {
    margin-bottom: 14px;
    text-align: left;
    color: #fff
}

.home-wrapper .signup-container .signup-title-new.bright .p1, .home-wrapper .signup-container .signup-title-new.bright .p2, .home-wrapper .signup-container .signup-title-new.bright .p3 {
    color: #fff
}

.home-wrapper .signup-container .signup-title-new .p1 {
    line-height: 1;
    font-size: 1.4em
}

.home-wrapper .signup-container .signup-title-new .p1, .home-wrapper .signup-container .signup-title-new .p2, .home-wrapper .signup-container .signup-title-new .p3 {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.home-wrapper .signup-container .signup-title-new .p2 {
    line-height: 1.1;
    font-size: 1.4em
}

.home-wrapper .signup-container .signup-title-new .p2 span {
    margin-left: 10px;
    font-size: 1.56em;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.home-wrapper .signup-container .signup-title-new .p3 {
    color: #fff;
    line-height: 1.3;
    font-size: 2.1em
}

.home-wrapper .signup-container .box-border {
    position: relative
}

.home-wrapper .signup-container .box-border .icon-mobile {
    position: absolute;
    left: 13px;
    top: 50%;
    width: 12px;
    margin-top: -18px
}

.home-wrapper .signup-container .box-border .icon-mobile img {
    width: 100%
}

.home-wrapper .signup-container .box-border input {
    border: 1px solid rgba(0, 0, 0, .3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 16px;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
    font-size: .8em;
    padding: 15px 15px 15px 38px;
    width: 100%;
    outline: none
}

.home-wrapper .signup-container .btn-receive {
    display: block;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    background-color: #e10000;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}

.home-wrapper .signup-container .btn-receive.font-color-orange {
    background-color: #f85415
}

.home-wrapper .signup-container .btn-receive:hover {
    background-color: #fff666;
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}

.home-wrapper .signup-container .btn-receive-orange {
    color: #fff;
    background: #f60
}

.home-wrapper .signup-container .btn-receive-orange:hover {
    background-color: #ff813d;
    color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s
}

.home-wrapper .signup-container .btn-receive-red color:#fff {
    background: #fff100
}

@media screen and (max-width: 1440px) and (min-height: 800px) {
    .home-wrapper .signup-container {
        font-size: 24px;
        top: 20.4231%
    }
}

@media screen and (max-width: 1366px) and (min-height: 800px) {
    .home-wrapper .signup-container {
        font-size: 24px;
        top: 20.4231%
    }
}

@media screen and (max-width: 1280px) and (min-height: 800px) {
    .home-wrapper .signup-container {
        font-size: 22px;
        top: 20.4231%
    }
}