.home-wrapper {
    min-width: 1024px;
    -webkit-font-smoothing: antialiased
}

@media screen and (max-width: 1920px) {
    .home-wrapper .slide6_text_wrapper img {
        width: 100%
    }
}

/*.home-wrapper .slide6_text_wrapper {*/
/*font-size: 20px;*/
/*overflow: hidden*/
/*}*/

.home-wrapper button {
    outline: none;
    border: none;
    background: none
}

.home-wrapper .attached-bg {
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) {
    .home-wrapper .attached-bg {
        background-attachment: scroll
    }
}

.home-wrapper h1 {
    font-size: 48px;
    line-height: 56px;
    text-align: center
}

.home-wrapper .banner {
    min-height: 600px;
    min-width: 1024px;
    position: relative;
    overflow: hidden;
}

.home-wrapper .banner .slide0, .slide1_bg {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f85415", endColorstr="#ff8f40", GradientType=0)
}

.home-wrapper .banner .slide-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.home-wrapper .banner .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
}

.slide0, .slide1_bg {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f85415", endColorstr="#ff8f40", GradientType=0)
}

.home-wrapper .banner .slide-tkxgiving {
    position: relative;
    height: 100%;
    width: 100%;
    background: url(//fe-static.vipkid.com.cn/img/vkindex/banner/bg-jfsc-5589ba85bf.jpg) top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position-y: 70%
}

.home-wrapper .banner .slide-tkxgiving img {
    display: block;
    width: 75%;
    position: absolute;
    bottom: 0;
    margin: 10% 12% 0
}

@media screen and (max-width: 1920px) {
    .home-wrapper .banner .slide-tkxgiving img {
        width: 75%
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .banner .slide-tkxgiving img {
        width: 85%
    }
}

@media screen and (max-width: 1366px) {
    .home-wrapper .banner .slide-tkxgiving img {
        width: 72%
    }
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide-tkxgiving img {
        width: 75%
    }
}

@media screen and (max-width: 1024px) {
    .home-wrapper .banner .slide-tkxgiving img {
        width: 94%;
        margin: 10% 2% 0
    }
}

.home-wrapper .banner .slide-tkxgiving a {
    position: absolute;
    bottom: 75px;
    left: 50%;
    width: 220px;
    height: 64px;
    margin-left: -110px;
    z-index: 2
}

.home-wrapper .banner .slide-tkxgiving a img {
    display: block;
    width: 100%;
    height: 100%
}

.home-wrapper .banner .slide6 .slide1_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f85415;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.home-wrapper .banner .slide6 .slide6_text_container {
    padding: 0 40px 0 180px;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    position: relative
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide6 .slide6_text_container {
        padding: 0 40px
    }
}

.home-wrapper .banner .slide6 .slide6_text_wrapper {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    white-space: nowrap
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide6 .slide6_text_wrapper {
        width: 1080px
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide6 .slide6_text_wrapper {
        width: 1080px
    }
}

.home-wrapper .banner .slide-lookchina {
    background: url(//fe-static.vipkid.com.cn/img/vkindex/banner/fm-bg-fde30649ce.png) 50% no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative
}

.home-wrapper .banner .slide-lookchina img.lookchina-img-text {
    position: absolute;
    display: block;
    margin: auto;
    width: 48%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.home-wrapper .banner .slide2 {
    background-color: #e7f7ff
}

.home-wrapper .banner .slide2 .slide2-img-holder .slide2-img-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto
}

@media screen and (max-height: 590px) {
    .home-wrapper .banner .slide2 .slide2-img-holder .slide2-img-1 {
        width: 85%
    }
}

.home-wrapper .banner .slide-dilipic {
    background-color: #ff5a0b;
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/slider4-bg-cfdc890133.png);
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 0 0 0 180px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide-dilipic {
        padding: 0 0 0 40px
    }
}

.home-wrapper .banner .slide-dilipic .slide-img-holder {
    margin-left: 127px;
    margin-top: 127px
}

.home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
    width: 56%;
    margin-bottom: 25px
}

.home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
    width: 39%
}

@media screen and (max-width: 1920px) {
    .home-wrapper .banner .slide-dilipic .slide-img-holder {
        margin-left: 170px;
        margin-top: 120px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
        width: 56%;
        margin-bottom: 25px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
        width: 38%
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .banner .slide-dilipic .slide-img-holder {
        margin-top: 123px;
        margin-left: 40px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
        width: 62%;
        margin-bottom: 25px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
        width: 42%
    }
}

@media screen and (max-width: 1366px) {
    .home-wrapper .banner .slide-dilipic .slide-img-holder {
        margin-top: 123px;
        margin-left: 40px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
        width: 50%;
        margin-bottom: 25px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
        width: 36%
    }
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide-dilipic .slide-img-holder {
        margin-top: 110px;
        margin-left: 60px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
        width: 56%;
        margin-bottom: 20px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
        width: 33%
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide-dilipic .slide-img-holder {
        margin-top: 115px;
        margin-left: 70px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
        width: 58%;
        margin-bottom: 25px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
        width: 38%
    }
}

@media screen and (max-height: 590px) {
    .home-wrapper .banner .slide-dilipic .slide-img-holder {
        margin-top: 80px;
        margin-left: 40px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
        width: 56%;
        margin-bottom: 25px
    }

    .home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-2 {
        width: 33%
    }
}

.home-wrapper .banner .slide-dilipic .slide-img-holder .slide0-img-1 {
    display: block
}

.home-wrapper .banner .slide4 {
    background: url(//fe-static.vipkid.com.cn/img/vkindex/banner/qijinanhai-bb-ad1b3aee0d.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: relative
}

.home-wrapper .banner .slide4 .qjnh-title-img {
    position: absolute;
    bottom: 0;
    background: #f85415;
    width: 100%
}

.home-wrapper .banner .slide4 .qjnh-title-img img {
    display: block;
    width: 100%
}

.home-wrapper .banner .slide2 {
    background-color: #ff7500;
    position: relative
}

.home-wrapper .banner .slide2 .slide2-img-holder .slide2-img-1 {
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto
}

.home-wrapper .banner .slide2 .hover-btn {
    width: 20%;
    margin-left: -10%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 1
}

.home-wrapper .banner .slide2 .hover-btn > img {
    width: 100%
}

.home-wrapper .banner .slide2 .hover-btn .qrcode-conten {
    display: none;
    width: 300px;
    height: 300px;
    padding: 90px 80px 0;
    position: absolute;
    bottom: 95%;
    left: 50%;
    margin-left: -160px;
    background-image: url(//fe-static.vipkid.com.cn/nomatch);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.home-wrapper .banner .slide2 .hover-btn .qrcode-conten > img {
    width: 100%
}

.home-wrapper .banner .slide2 .hover-btn .qrcode-conten .qrcode-title {
    width: 100%;
    color: #f60;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 49px;
    left: 0
}

.home-wrapper .banner .slide3 {
    background-color: #fbfbfb;
    padding: 0 0 0 180px;
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/banner-22-bg-6a30d54ffa.png);
    background-repeat: repeat-x;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide3 {
        -webkit-background-size: 120%;
        -moz-background-size: 120%;
        background-size: 120%
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide3 {
        -webkit-background-size: 160%;
        -moz-background-size: 160%;
        background-size: 160%
    }
}

.home-wrapper .banner .slide3 .slide3-img-holder {
    padding: 0;
    margin: 79px 0 0 57px;
    width: 65%
}

@media screen and (max-width: 1920px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 79px 0 0 57px;
        width: 61%
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 79px 0 0 57px;
        width: 65%
    }
}

@media screen and (max-width: 1366px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 79px 0 0 57px;
        width: 65%
    }
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 99px 0 0 24px;
        width: 65%
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 79px 0 0 57px;
        width: 65%;
        margin: 183px 0 0 -47px
    }
}

@media screen and (max-height: 590px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 62px 0 0 24px;
        width: 62%
    }
}

.home-wrapper .banner .slide3 .slide3-img-holder .slide3-img-1 {
    width: 100%
}

@media screen and (max-width: 1080px) and (max-height: 590px) {
    .home-wrapper .banner .slide3 .slide3-img-holder {
        margin: 62px 0 0 -47px;
        width: 65%
    }
}

.home-wrapper .banner .slide1_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background: -webkit-linear-gradient(top, #f85415 50%, #ff8f40);
    background: -moz-linear-gradient(top, #f85415 50%, #ff8f40 100%);
    background: -o-linear-gradient(top, #f85415 50%, #ff8f40 100%);
    background: -ms-linear-gradient(top, #f85415 50%, #ff8f40 100%);
    background: linear-gradient(180deg, #f85415 50%, #ff8f40)
}

.home-wrapper .banner .slideimg-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute
}

.home-wrapper .banner .slide1_text_container {
    padding: 0 40px 0 180px;
    min-width: 1024px;
    width: 100%;
    height: 100%
}

.home-wrapper .banner .slide1_text_wrapper {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
    position: absolute;
    left: -25px;
    bottom: 574px;
    font-size: 30px
}

@media screen and (max-width: 1920px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        left: -25px;
        bottom: 543px;
        font-size: 28px
    }
}

@media screen and (max-width: 1680px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        left: -25px;
        bottom: 490px;
        font-size: 28px
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        left: 19px;
        bottom: 446px;
        font-size: 26px
    }
}

@media screen and (max-width: 1366px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        left: 68px;
        bottom: 374px;
        font-size: 20px
    }
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        left: 50px;
        bottom: 407px;
        font-size: 20px
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        left: -54px;
        bottom: 321px;
        font-size: 18px
    }
}

@media screen and (max-height: 670px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        bottom: 334px;
        font-size: 18px
    }
}

@media screen and (max-height: 570px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        bottom: 267px;
        font-size: 17px
    }
}

@media screen and (max-width: 1440px) and (max-height: 750px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        bottom: 426px;
        font-size: 22px
    }
}

@media screen and (max-width: 1440px) and (max-height: 710px) {
    .home-wrapper .banner .slide1_text_wrapper .text_unit1_container {
        bottom: 380px;
        font-size: 22px
    }
}

.home-wrapper .banner .slide1_text_wrapper .text1 {
    width: 15.75em;
    position: relative;
    display: block;
    margin-bottom: 7px
}

.home-wrapper .banner .slide1_text_wrapper .text2 {
    width: 21.95em;
    position: relative;
    display: block;
    margin-bottom: 21px
}

.home-wrapper .banner .slide1_text_wrapper .text3 {
    width: 12.6em;
    position: relative;
    display: block
}

.home-wrapper .banner .slide1_text_wrapper .text1, .home-wrapper .banner .slide1_text_wrapper .text2, .home-wrapper .banner .slide1_text_wrapper .text3 {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.home-wrapper .banner .slide1_text_wrapper .text_unit2_container {
    position: absolute;
    bottom: 20px;
    text-align: right;
    width: 100%
}

.home-wrapper .banner .slide1_text_wrapper .text4 {
    width: 165px;
    position: relative;
    margin-bottom: 16px;
    bottom: -100px
}

.home-wrapper .banner .slide1_text_wrapper .text5 {
    width: 162px;
    position: relative;
    margin-left: 21px;
    bottom: -40px
}

.home-wrapper .banner .slide1_text_wrapper .text4, .home-wrapper .banner .slide1_text_wrapper .text5, .home-wrapper .banner .slide1bgimg {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.home-wrapper .banner .slide1bgimg {
    width: 100%;
    height: 100%;
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/home/banner-1-a140701635.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    position: relative;
    bottom: -50px;
    -webkit-background-size: 133%;
    -moz-background-size: 133%;
    background-size: 133%
}

@media screen and (max-width: 1920px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 130%;
        -moz-background-size: 130%;
        background-size: 130%
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 147%;
        -moz-background-size: 147%;
        background-size: 147%
    }
}

@media screen and (max-width: 1366px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 130%;
        -moz-background-size: 130%;
        background-size: 130%
    }
}

@media screen and (max-width: 1280px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 147%;
        -moz-background-size: 147%;
        background-size: 147%
    }
}

@media screen and (max-width: 1180px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 152%;
        -moz-background-size: 152%;
        background-size: 152%
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 144%;
        -moz-background-size: 144%;
        background-size: 144%
    }
}

@media screen and (max-height: 670px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 126%;
        -moz-background-size: 126%;
        background-size: 126%
    }
}

@media screen and (max-height: 570px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 101%;
        -moz-background-size: 101%;
        background-size: 101%
    }
}

@media screen and (max-width: 1440px) and (max-height: 750px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 135%;
        -moz-background-size: 135%;
        background-size: 135%
    }
}

@media screen and (max-width: 1440px) and (max-height: 710px) {
    .home-wrapper .banner .slide1bgimg {
        -webkit-background-size: 130%;
        -moz-background-size: 130%;
        background-size: 130%
    }
}

.home-wrapper .banner img.banner1-front {
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: -3px
}

.home-wrapper .pagination-container {
    position: absolute;
    bottom: 40px;
    width: 100%
}

.home-wrapper .pagination-container .mouse-gif-container {
    width: 100px;
    text-align: center;
    margin: 0 auto
}

.home-wrapper .pagination-container .mouse-gif-container .mouse-border {
    position: relative;
    display: inline-block;
    width: 28px;
    background-repeat: no-repeat;
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/home/mouse_border-f6e3a9cac1.png);
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    height: 35px;
    text-align: center
}

.home-wrapper .pagination-container .mouse-gif-container .mouse-border img {
    display: inline-block;
    position: absolute;
    width: 10px;
    top: 0;
    left: 0;
    width: 24px
}

.home-wrapper .pagination-container .pagination {
    width: 514px;
    margin: 30px auto 0;
    text-align: center
}

.home-wrapper .pagination-container .pagination span {
    width: 80px;
    height: 4px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.home-wrapper .pagination-container .pagination i {
    width: 100%;
    height: 4px;
    background-color: #d4d4d4;
    display: block
}

.home-wrapper .pagination-container .pagination span.active i {
    background-color: #e10000
}

.home-wrapper .ie_img_wrap {
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/home_banner1_1x_same_ratio-f8e2cbb4c2.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    display: none
}

.home-wrapper img.ie-banner-5 {
    display: none;
    margin-top: 60px
}

.home-wrapper .video-play-btn {
    position: absolute;
    width: 200px;
    height: 60px;
    cursor: pointer;
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/voyage-button-044b909aab.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -5px;
    z-index: 3
}

@media screen and (max-width: 1920px) {
    .home-wrapper .video-play-btn {
        margin-top: -25px
    }
}

@media screen and (max-width: 1440px) {
    .home-wrapper .video-play-btn {
        margin-top: 0
    }
}

@media screen and (max-width: 1080px) {
    .home-wrapper .video-play-btn {
        margin-left: -250px;
        margin-top: -10px
    }
}

.home-wrapper .part1 {
    min-width: 1024px;
    width: 100%;
    padding: 60px 80px 0 180px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part1 {
        padding: 60px 80px 0 40px
    }
}

.home-wrapper .part1 .part-container {
    max-width: 1280px;
    height: 762px;
    margin: 0 auto;
    position: relative
}

.home-wrapper .part1 .part-container:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1
}

.home-wrapper .part1 .part-container .part1_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.home-wrapper .part1 .part-container .part1_text_container {
    position: relative;
    padding-top: 272px
}

.home-wrapper .part1 .part-container .part1_text_container p.main {
    font-size: 3.2em;
    margin-bottom: 15px
}

.home-wrapper .part1 .part-container .part1_text_container p.sub {
    font-size: 1.7em;
    color: #888787;
    line-height: 1.3em
}

.home-wrapper .part1 .part-container .part1_info_con_row {
    margin-bottom: 10px
}

.home-wrapper .part1 .part-container .part1_info_con_row.border_bottom {
    border-bottom: 1px solid #afafaf;
    margin-bottom: 18px
}

.home-wrapper .part1 .part-container .part1_info_con {
    width: 561px;
    height: 241px;
    background-color: #fff;
    /*border: 1px solid #d8d8d8;*/
    position: absolute;
    top: 0;
    margin-left: 123px;
    margin-top: 418px;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2.7%;
    font-size: 14px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part1 .part-container .part1_info_con {
        width: 465px;
        height: 224px;
        margin-left: 11px;
        margin-top: 418px;
        font-size: 13px;
        width: 540px
    }
}

.home-wrapper .part1 .part-container .part1_info_con.op_0 {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col {
    display: inline-block;
    padding: 0 0 20px;
    white-space: nowrap;
    position: relative
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col.col_left {
    border-right: 1px solid #afafaf;
    width: 43%
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col.col_right {
    width: 55%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col.cover-cube:before {
    content: "";
    width: 51px;
    height: 36px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    top: 71px;
    left: -27px;
    z-index: 1
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col h2 {
    font-size: 3em;
    margin-bottom: 10px
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col i {
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    position: relative;
    top: -3px
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col span {
    font-size: .5em
}

.home-wrapper .part1 .part-container .part1_info_con .part1_info_con_col p {
    font-size: 1.2em;
    color: #8e8e8e
}

.home-wrapper .part1 .part-container .part1_info_con_shadow {
    width: 560px;
    height: 218px;
    background-color: rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1;
    margin-left: 113px;
    margin-top: -18px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part1 .part-container .part1_info_con_shadow {
        width: 540px;
        height: 192px;
        margin-top: -8px;
        margin-left: 0
    }
}

.home-wrapper .part1 .part-container .part1_img_teacher {
    width: 360px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin-left: 668px;
    margin-top: 37px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part1 .part-container .part1_img_teacher {
        width: 338px;
        margin-left: 584px;
        margin-top: 77px
    }
}

.home-wrapper .part1 .part-container .part1_img_teacher_shadow {
    width: 184px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 767px;
    margin-top: 441px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part1 .part-container .part1_img_teacher_shadow {
        width: 186px;
        margin-left: 665px;
        margin-top: 441px
    }
}

.home-wrapper .part2-wrapper {
    padding: 0 0 100px;
    background-color: #fff;
    position: relative
}

.home-wrapper .part2-title {
    min-width: 1024px;
    width: 100%;
    padding: 10px 40px 0 180px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part2-title {
        padding: 60px 40px 0
    }
}

.home-wrapper .part2-container {
    max-width: 1280px;
    margin: 0 auto
}

.home-wrapper .j-parallax-2 {
    position: relative;
    padding-top: 100px;
    margin-bottom: 0
}

.home-wrapper .j-parallax-2 h3 {
    font-size: 1.7em;
    color: #888787;
    margin-bottom: .5em
}

.home-wrapper .j-parallax-2 .part2-line2-hd strong {
    font-size: 3.2em;
    display: inline-block;
    vertical-align: middle;
    line-height: 64px;
    margin-right: 30px
}

.home-wrapper .j-parallax-2 .part2-line2-hd .council_btn_hd {
    display: inline-block;
    line-height: 3.4em
}

.home-wrapper .j-parallax-2 .part2-line2-hd .council_btn_hd a {
    display: inline-block;
    width: 202px;
    height: 42px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 42px;
    text-align: center;
    /*border: 1px solid #f85415;*/
    color: #f85415;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.home-wrapper .j-parallax-2 .part2-line2-hd .council_btn_hd a:hover {
    background-color: #f85415;
    color: #fff
}

.home-wrapper .part2 {
    min-width: 1024px;
    width: 100%;
    padding: 0 40px 0 180px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 20px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part2 {
        font-size: 14px;
        padding: 0 40px
    }
}

.home-wrapper .part2 .part2-picbox {
    position: relative
}

.home-wrapper .part2 .part2-picbox:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 100%
}

.home-wrapper .part2 .part2-picbox .picbox-row {
    display: block
}

.home-wrapper .part2 .part2-picbox .picbox-row span {
    display: inline-block;
    vertical-align: bottom;
    width: 33.333%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2px;
    padding-bottom: 2px
}

.home-wrapper .part2 .part2-picbox .picbox-row span i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -.5em;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 600
}

.home-wrapper .part2 .part2-picbox .picbox-row span img {
    vertical-align: bottom;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 100%
}

.home-wrapper .part2 .part2-picbox .picbox-row span .pc-item-info {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f85415;
    top: 0;
    left: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff
}

.home-wrapper .part2 .part2-picbox .picbox-row span .pc-item-info .part2-info-title {
    font-size: 1.6em;
    position: absolute;
    top: 16%;
    left: 50%;
    width: 100%;
    text-align: center;
    margin-left: -50%;
    color: #fff;
    font-weight: 600
}

.home-wrapper .part2 .part2-picbox .picbox-row span .pc-item-info .part2-info-des {
    font-size: .9em;
    position: absolute;
    top: 36%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    color: #fff;
    font-weight: 400;
    padding: 0 20px;
    color: #ffe4cb;
    text-align: left;
    line-height: 1.4em
}

.home-wrapper .right-strip-title-container {
    min-width: 1024px;
    width: 100%;
    padding: 0 40px 0 180px;
    background-color: #fff;
    position: relative;
    overflow: hidden
}

@media screen and (max-width: 1280px) {
    .home-wrapper .right-strip-title-container {
        padding: 0 40px 0 180px
    }
}

.home-wrapper .right-strip-text-black {
    font-size: 3em;
    color: #000;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 30px 30px 0;
    position: relative;
    z-index: 1;
    display: inline-block
}

.home-wrapper .right-strip-text-black:after {
    content: "";
    width: 999%;
    height: 100%;
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff
}

.home-wrapper .right-strip-text-black p.sub {
    font-size: .8em;
    margin-bottom: 10px
}

.home-wrapper .right-strip {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffe84a;
    left: 0
}

.home-wrapper .part_holder {
    min-width: 1024px;
    width: 100%;
    padding: 0 40px 0 180px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    font-size: 20px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part_holder {
        padding: 0 40px
    }
}

.home-wrapper .part_holder:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: 100%;
    z-index: 1;
    margin-right: -180px
}

@media screen and (max-width: 1080px) {
    .home-wrapper .part_holder:before {
        margin-right: -40px
    }
}

.home-wrapper .part_holder .part-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative
}

.home-wrapper .part3-wrapper {
    padding: 60px 0 100px;
    background-color: #fff;
    position: relative
}

.home-wrapper .part3-wrapper .part3-intro-container .intro-name {
    font-size: 2.2em;
    margin-top: 41px;
    margin-bottom: 18px;
    font-weight: 800
}

.home-wrapper .part3-wrapper .part3-intro-container .intro-title {
    font-size: 1.3em;
    margin-bottom: 30px
}

.home-wrapper .part3-wrapper .part3-intro-container .intro-des {
    font-size: .9em;
    color: #868686;
    line-height: 1.6em;
    text-align: left
}

.home-wrapper .part3-wrapper .part3-row-holder {
    position: relative;
    height: 315px;
    font-size: 20px
}

.home-wrapper .part3-wrapper .part3-row-holder.p3-align-right .part3-intro-container {
    text-align: right;
    position: absolute;
    right: 310px;
    width: 60%;
    margin-top: 165px
}

.home-wrapper .part3-wrapper .part3-row-holder img {
    height: 280px;
    width: 280px;
    vertical-align: middle;
    position: absolute
}

.home-wrapper .part3-wrapper .part3-row-holder img.part3-pic-right {
    right: 0
}

.home-wrapper .part3-wrapper .part3-row-holder img.part3-pic-left {
    left: 0
}

.home-wrapper .part3-wrapper .part3-row-holder .part3-intro-container {
    position: relative;
    display: inline-block;
    height: 100%;
    margin-left: 310px;
    width: 60%;
    margin-top: 165px
}

.home-wrapper .part4-wrapper {
    padding: 10px 0 0;
    background-color: #fff;
    position: relative;
    font-size: 20px
}

.home-wrapper .part4-wrapper.p6 {
    padding: 10px 0 0
}

.home-wrapper .part4-wrapper .commitment-item {
    float: left;
    text-align: center;
    width: 33.333%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 55px
}

.home-wrapper .part4-wrapper .commitment-con {
    padding: 30px 0
}

.home-wrapper .part4-wrapper .commitment-con .pic {
    margin: 0 auto 16px;
    padding: 17px 0 0;
    width: 200px
}

.home-wrapper .part4-wrapper .commitment-con .pic img {
    width: 134px
}

.home-wrapper .part4-wrapper .commitment-con .title {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 14px
}

.home-wrapper .part4-wrapper .commitment-con .des {
    font-size: .8em;
    line-height: 1.4em;
    color: #929888
}

.home-wrapper .left-full-wrapper {
    padding: 0 0 0 40%;
    position: relative;
    top: 0;
    z-index: 1
}

@media screen and (max-width: 1180px) {
    .home-wrapper .left-full-wrapper {
        padding: 0 0 0 47%
    }
}

.home-wrapper .left-full-wrapper .left-full-row {
    padding: 30px 0;
    border-bottom: 1px solid #d4d4d4
}

.home-wrapper .left-full-wrapper .left-full-row p.pic img.toefl {
    height: 110px
}

.home-wrapper .left-full-wrapper .left-full-row p.pic img.ngl {
    width: 240px
}

.home-wrapper .left-full-wrapper .left-full-row p.black {
    font-size: 1.2em;
    width: 618px;
    line-height: 1.4em;
    margin-bottom: 10px
}

@media screen and (max-width: 1280px) {
    .home-wrapper .left-full-wrapper .left-full-row p.black {
        width: 524px
    }
}

.home-wrapper .left-full-wrapper .left-full-row p.grey {
    font-size: .9em;
    width: 680px;
    line-height: 1.4em;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50)
}

@media screen and (max-width: 1280px) {
    .home-wrapper .left-full-wrapper .left-full-row p.grey {
        width: 530px
    }
}

.home-wrapper .award-page-con {
    margin-top: 0;
    display: inline-block
}

.home-wrapper .award-page-con .btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /*border: 1px solid #ddd;*/
    background-color: #fff;
    margin-right: 5px
}

.home-wrapper .award-page-con .btn.curr {
    background-color: #f85415
}

.home-wrapper .award-con {
    top: -175px
}

.home-wrapper .award-con .left-full-row {
    margin-right: 40px;
    border: 1px solid rgba(0, 0, 0, .1);
    position: relative
}

.home-wrapper .award-con .part-wrapper {
    padding: 40px 0 0
}

@media screen and (max-width: 1280px) {
    .home-wrapper .award-con .part-wrapper {
        padding: 40px 0 0
    }
}

.home-wrapper .award-con .award-row {
    margin: 0 0 45px
}

.home-wrapper .award-con .award-row .award-item {
    display: inline-block;
    text-align: center;
    width: 50%
}

.home-wrapper .award-con .award-row .award-item.r {
    width: 36%
}

@media screen and (max-width: 1180px) {
    .home-wrapper .award-con .award-row .award-item.r {
        width: 48%
    }
}

.home-wrapper .award-con .award-row .award-item img {
    margin-bottom: 19px
}

.home-wrapper .award-con .award-row .award-item p.award-des {
    color: #666;
    line-height: 1.2em
}

.home-wrapper .award-switch-hd div {
    position: relative;
    width: 52px;
    height: 52px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #f85415;
    background-color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    cursor: pointer
}

.home-wrapper .award-switch-hd div:hover {
    border: 1px solid #f85415;
    background-color: #f85415
}

.home-wrapper .award-switch-hd div:hover.last:before {
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff
}

.home-wrapper .award-switch-hd div:hover.next:before {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff
}

.home-wrapper .award-switch-hd {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: -26px;
    margin-top: -62px;
    width: 52px;
    height: 124px
}

.home-wrapper .award-switch-hd .last {
    margin-bottom: 20px
}

.home-wrapper .award-switch-hd .last:before {
    border-left: 1px solid #f85415;
    border-bottom: 1px solid #f85415;
    left: 22px
}

.home-wrapper .award-switch-hd .last:before, .home-wrapper .award-switch-hd .next:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 21px
}

.home-wrapper .award-switch-hd .next:before {
    border-top: 1px solid #f85415;
    border-right: 1px solid #f85415;
    left: 18px
}

.home-wrapper .part5-wrapper {
    padding: 40px 0 100px;
    background-color: #fff;
    position: relative;
    font-size: 20px
}

.home-wrapper .part5-wrapper .j-parallax-4 {
    top: 90px
}

.home-wrapper .part1_yellow_strip {
    width: 0;
    height: 247px;
    background-color: #ffe84a;
    position: absolute;
    top: 500px;
    right: 0;
    z-index: 1
}

.home-wrapper .part2_grey_strip {
    width: 0;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .05;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=5)";
    filter: alpha(opacity=5)
}

.home-wrapper .part7-wrapper {
    width: 100%;
    background-color: #f5f5f5;
    position: relative;
    z-index: 10;
    padding: 23px 0 30px
}

.home-wrapper .part7-wrapper .part7-container {
    width: 880px;
    height: 100%;
    margin: 0 auto
}

.home-wrapper .part7-wrapper .part7-container .part7-cell {
    float: left;
    width: 40%
}

.home-wrapper .part7-wrapper .part7-container .part7-cell p {
    color: #666;
    font-weight: 300
}

.home-wrapper .part7-wrapper .part7-container .part7-cell a.btn {
    display: inline-block;
    width: 80px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border: 1px solid #878787;
    font-weight: 300;
    margin-left: 12px;
    text-decoration: none;
    background-color: transparent;
    color: #656565;
    font-size: 12px;
    vertical-align: middle;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.home-wrapper .part7-wrapper .part7-container .part7-cell a.btn:hover {
    color: #f85415;
    border: 1px solid #f85415
}

.home-wrapper .part7-wrapper .part7-container .part7-cell.p7-center {
    width: auto;
    float: right
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold {
    position: relative;
    margin: 18px 0 0;
    display: inline-block
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold .device-hd {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold .device-hd.last {
    margin-right: 0
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold img {
    display: inline-block;
    vertical-align: middle
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold img.apple {
    width: 26px
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold img.andorid {
    width: 25px
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold img.ipad {
    width: 55px;
    margin-right: 5px
}

.home-wrapper .part7-wrapper .part7-container .part7-cell .app-hold img.win {
    width: 27px
}

.home-wrapper .part8-wrapper {
    display: block;
    width: 100%;
    background: #3a394e;
    position: relative;
    z-index: 10;
    height: 135px;
    cursor: pointer
}

.home-wrapper .part8-wrapper .part8-container {
    width: 880px;
    margin: 0 auto;
    height: 135px;
    background: url(//fe-static.vipkid.com.cn/img/vkindex/invalid-bg-dbb4c3f133.png) no-repeat;
    position: relative
}

.home-wrapper .part8-wrapper .part8-container .dinosaur-icon {
    position: absolute;
    display: block;
    left: 288px;
    top: 27px;
    width: 67px;
    height: 90px
}

.home-wrapper .part8-wrapper .part8-container .park-text {
    left: 381px;
    position: absolute;
    top: 38px
}

.home-wrapper .part8-wrapper .part8-container .park-text .title {
    height: 32px;
    line-height: 32px;
    font-size: 28px;
    color: #fff
}

.home-wrapper .part8-wrapper .part8-container .park-text .txt {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #c6c6c6;
    margin-top: 9px
}

.home-left-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99
}

.home-left-nav-wrapper .left-nav-logo {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 180px;
    height: 110px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #f85415;
    padding-top: 26px;
    margin-bottom: 25px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

/*@media screen and (min-width: 1600px) {*/
/*.home-left-nav-wrapper .left-nav-logo {*/
/*margin-bottom: 40px*/
/*}*/
/*}*/

/*.home-left-nav-wrapper .left-nav-logo.scale-down {*/
/*-webkit-transform: scale(.833333);*/
/*-moz-transform: scale(.833333);*/
/*-o-transform: scale(.833333);*/
/*-ms-transform: scale(.833333);*/
/*transform: scale(.833333)*/
/*}*/

.home-left-nav-wrapper .left-nav-logo img {
    display: block;
    margin: 0 auto;
    width: 126px
}

.home-left-nav-wrapper .home-left-nav-bar {
    position: relative;
    font-size: 20px;
    z-index: 99
}

/*@media screen and (max-width: 1080px) {*/
/*.home-left-nav-wrapper .home-left-nav-bar {*/
/*display: none*/
/*}*/
/*}*/

/*@media screen and (min-width: 1600px) {*/
/*.home-left-nav-wrapper .home-left-nav-bar {*/
/*font-size: 23px*/
/*}*/
/*}*/

@media screen and (min-width: 1920px) {
    .home-left-nav-wrapper .home-left-nav-bar {
        font-size: 23px
    }
}

.home-left-nav-wrapper .home-left-nav-bar a {
    display: block;
    position: relative;
    padding-left: 40px;
    line-height: 2em;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s
}

.home-left-nav-wrapper .home-left-nav-bar a:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.home-left-nav-wrapper .home-left-nav-bar a.active {
    font-weight: 800
}

.home-left-nav-wrapper .home-left-nav-bar a.active:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 20px;
    height: 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    background-color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s
}

.home-left-nav-wrapper .home-left-nav-bar.font-color-orange a {
    color: #f85415
}

.home-left-nav-wrapper .home-left-nav-bar.font-color-orange a.active:before {
    background-color: #f85415
}

.home-left-nav-wrapper .home-left-nav-bar a:first-child {
    font-size: 1.3em;
    opacity: .9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90)
}

.home-left-nav-wrapper .home-left-nav-bar a:first-child:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none
}

.banner-wrapper {
    /*border: 5px solid skyblue;*/
    margin-top: 100px;
    min-height: 360px
}

.banner-wrapper, .subpage-main-wrapper {
    min-width: 1024px;
    position: relative;
    overflow: hidden
}

.subpage-main-wrapper {
    border: 1px solid saddlebrown;
    z-index: 1;
    /*padding-top: 100px;*/
    background-color: #fff
}

.subpage-part-container {
    /*border: 5px solid #e10000;*/
    min-width: 1024px;
    margin-top: 60px;
    width: 100%;
    padding: 0 40px 0 180px;
    font-size: 20px;
    position: relative
}

.subpage-part-container .title {
    position: absolute;
    top: -60px;
    color: #FED74A;
    font-size: 8rem;
}

.subpage-part-container.abus {
    margin-top: 55px
}

.subpage-part-container.meitibaodao {
    margin-top: 10px
}

.subpage-part-container.hezuo {
    margin-top: 30px
}

@media screen and (max-width: 1080px) {
    .subpage-part-container {
        font-size: 16px;
        padding: 0 40px
    }
}

.subpage-3-banner-bg {
    /*border: 1px solid #46a3fb;*/
    background-image: url("../img/placeholder.png")
}

.subpage-banner-bg-holder {
    /*border: 1px solid #706900;*/
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0
}

@media screen and (max-width: 1080px) {
    .subpage-banner-bg-holder {
        width: 97%
    }
}

@media screen and (min-width: 1860px) {
    .subpage-banner-bg-holder {
        width: 81%
    }
}

.banner1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}

.banner1 .subpage-1-banner-bg {
    background-image: url(//fe-static.vipkid.com.cn/img/vkindex/subpage/jiaoxuelinian-f318805362.png)
}

.banner1 .banner-text-holder {
    /*border: 10px solid #ff5a0b;*/
    padding: 130px 0 0;
    height: 360px;
    color: #fff
}

@media screen and (min-width: 1200px) {
    .banner1 .banner-text-holder {
        padding: 130px 0 0 40px
    }
}

.banner1 .banner-text-holder p.small {
    font-size: 1.6em;
    margin-bottom: 20px;
    letter-spacing: .1em;
    text-indent: .3em;
    line-height: 1.2em
}

@media screen and (max-width: 1080px) {
    .banner1 .banner-text-holder p.small {
        font-size: 2.2em
    }
}

.banner1 .banner-text-holder p.small.s {
    font-size: 1.2em;
    text-indent: 0;
    width: 573px;
    text-align: justify
}

@media screen and (max-width: 1080px) {
    .banner1 .banner-text-holder p.small.s {
        font-size: 1.5em;
        width: 450px
    }
}

.banner1 .banner-text-holder p.big {
    font-size: 3em
}

@media screen and (max-width: 1080px) {
    .banner1 .banner-text-holder p.big {
        font-size: 3.4em
    }
}

.banner1 .banner-text-holder p.big.above {
    margin-bottom: 10px
}

.content-container {
    /*border: 1px solid #46a3fb;*/
    max-width: 1280px;
    margin-top: 20px;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.text1 {
    /*border: 1px solid #e10000;*/
    font-size: 26em;
    position: fixed;
}

.text2 {
    /*border: 1px solid #46a3fb;*/
    font-size: x-large;
}

.subpage-main-wrapper .yellow_title .subpage-part-container {
    /*border: 5px solid #e10000;*/
    min-width: 1024px;
    width: 100%;
    padding: 0 40px 0 180px;
    font-size: 20px;
    position: relative
}

.right-strip {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #ffe84a;
    left: 0
}

right-strip-title-holder {
    padding: 37px 30px 36px 0;
    display: inline-block;
    position: relative
}

.right-strip-title-holder.keshishezhi {
    padding: 37px 30px 16px 0
}

@media screen and (max-width: 1080px) {
    .right-strip-title-holder {
        padding: 47px 30px 36px 0
    }
}

.right-strip-title-holder.strip:after {
    content: "";
    position: absolute;
    background-color: #fff;
    left: 100%;
    top: 0;
    display: inline-block;
    width: 130%;
    height: 100%
}

.right-strip-title-holder p.grey_indent {
    color: #706900;
    font-size: 1.6em;
    margin-bottom: 12px;
    text-indent: 1.6em;
    white-space: nowrap
}

@media screen and (min-width: 1080px) and (max-width: 1180px) {
    .right-strip-title-holder p.grey_indent {
        font-size: 1.3em
    }
}

.right-strip-title-holder p.black {
    color: #000;
    font-size: 2.4em;
    white-space: nowrap
}

.right-strip-title-holder p.black.tixi {
    margin-bottom: 10px
}

@media screen and (min-width: 1080px) and (max-width: 1180px) {
    .right-strip-title-holder p.black {
        font-size: 2em
    }
}

.right-strip-title-holder p.grey {
    color: #7d7d7d;
    font-size: 1.6em;
    margin-bottom: 12px
}

.right-strip-title-holder p.des {
    color: #000;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.2em
}

.right-strip-title-holder p.grey_small {
    color: #706900;
    font-size: 1.3em;
    margin-bottom: 12px
}

@media screen and (min-width: 1080px) and (max-width: 1180px) {
    .right-strip-title-holder p.grey_small {
        font-size: 1.1em
    }
}

.right-strip-title-holder p.content {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #666;
    font-weight: 300
}

.about-main-wrapper {
    border: 10px solid #e10000;
    z-index: 1;
    /*padding-top: 100px;*/
    height: 1030px;
    background-color: #F3F3F3
}

.about-main-wrapper .subpage-part-container {
    /*border: 5px solid #e10000;*/
    min-width: 1024px;
    margin-top: 60px;
    width: 100%;
    padding: 0 40px 0 180px;
    font-size: 20px;
    position: relative
}

.about-main-wrapper .subpage-part-container .right-strip {
    width: 40%;
    height: 149px;
    position: absolute;
    background-color: #ffe84a;
    left: 0
}

.yellow_title10 {
    /*border: 1px solid #e10000;*/
    padding-bottom: 10px
}

.yellow_title10 .right-strip {
    width: 60%
}

.yellow_title10 p.black {
    margin-bottom: 10px
}

.right-strip-title-holder .strip .black {
    margin-top: -20px;
    border: 1px solid #e10000;
}

p.black1 {
    margin-top: -10px;
    font-size: 48px;
    color: #333333;
    font-family: 'Microsoft Yahei-Bold';
    margin-bottom: 10px
}

p.black2 {
    font-size: 30px;
    font-family: 'Microsoft Yahei';
    color: #333333;
    margin-bottom: 10px
}

.dialmod1 {
    float: left;
    margin-top: 180px;
    margin-left: 200px;
    height: 25%;
    width: 31%;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 10px 10px 5px #888888;
}

.img_ping {
    float: left;
    margin-left: 500px;
    margin-top: 270px;
}

.about-main-wrapper .player {
    float: left;
}

.dialmod2 {
    height: 402px;
    width: 608px;
    background-color: #FFFFFF;
    position: absolute;
    left: 20px;
    top: 20px;
    float: left;
    border: 1px solid;
}

.dialmod2 .text {
    float: left;
}

.content-wrapper {
    z-index: 1;
    /*padding-top: 100px;*/
    height: 930px;
    background-color: #FFFFFF
}

.content-wrapper .subpage-part-container .right-strip2 {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0
}

.more {
    position: relative;
    top: 25px;
    float: left;
    width: 140px;
    height: 140px;
    background: #F0902F;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

.more .text {
    position: absolute;
    left: 25%;
    top: 42%;
    border: 1px solid #e10000;
    font-size: 40px;
    font-family: "Microsoft Yahei-Bold";
    color: #FFFFFF;

    /*z-index: 100;*/
}

.sub-footprint {
    float: left;
    position: relative;
    height: 255px;
    /*background: url("../img/footprint_hover.png") no-repeat;*/
    /*background: url("../img/footprint1.png") no-repeat;*/
}

.sub-footprint .year {
    position: absolute;
    width: 48px;
    height: 12px;
    left: 20%;
    top: 30%;
    font-size: 30px;
    font-family: "Microsoft Yahei-Bold";
    color: #333333;
}

.sub-footprint:hover .year {
    position: absolute;
    left: 26%;
    top: 35%;
}

.sub-footprint:hover .content {
    display: block;
    width: 130px;
    height: 220px;
    position: relative;
    border-radius: 30px;
    background-color: #F1EB66;
    z-index: 10;
}

.sub-footprint:hover .content .content_head {
    height: 40px;
    width: 100%;
    background-color: #EF8A2F;
    position: absolute;
    border-radius: 30px 30px 0px 0px;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 40px;
    z-index: 30;
    /*font-size: 30px;*/
    font-family: "Microsoft Yahei";
    color: #ffffff;
}

.sub-footprint:hover .content .content_foot {
    position: absolute;
    background-color: #F3BF36;
    border-radius: 0px 0px 30px 30px;
    height: 170px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 50;
    line-height: 170px;
    font-family: "Microsoft Yahei";
    color: #ffffff;
}

.sub-footprint .content {
    display: none;
}


